<div>
    <h1>SISTEMA ACTIVO - usuario {{lastName}} {{firstName}}</h1>
</div>

{{!-- Cliente de Socket.io  --}}
{{!-- No va en el main, sino en los otros archivos --}}
<script src="/socket.io/socket.io.js"></script>
<script>
    console.log('Cliente conectado')
</script>